requests
numpy
opencv-python-headless
moviepy
scenedetect
ultralytics
sentence-transformers
markdown2
PyQt6
pyqtdarktheme
gradio
psutil
pymediainfo
faster-whisper
paddleocr
paddlepaddle-gpu
duckduckgo-search
open-clip-torch
chromadb
nvidia-ml-py
decord
imageio-ffmpeg
pyannote.audio